h1{
	text-align: center;
}
body{
	background-color:#b4b4b4;
}
table{
	display:flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}
td{
	padding: 5px;
}
.tableButton{
	width: 200px;
	height: 50px;
}
footer{
	position: absolute;
	bottom: 10px;
	left:46%;
}
button{
	font-size:14pt;
}